@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rampart+One&family=Tinos:wght@700&display=swap');
.top_section {
    background-color: white;
    text-align: center;
    padding: 20px
}
*{
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    background-color: #3F92B7;
    overflow: auto;
    text-align: center;
}
.navbar a{
    float: left;
    padding: 11px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 33%;
    text-align: center;
    overflow: auto;
    font-family: 'Tinos', serif;
}
.navbar a:hover{
    background-color: #6CC4DC;
}
.navbar a.active{
    background-color: white;
}
li{
    list-style: none;
}
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Rampart One', cursive;
    color: #48829E;
    margin: 0;
    padding: 50px;
}
.center{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered a{
    color: white;
    font-family:'Tinos', serif;
}
h3{
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
    color: #AACDE5;
}
h4{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color: #AACDE5;
}
.container{
    float: left;
    width: 30%;
    border-color: dodgerblue;
    padding: 15px 30px;
}
.more_info_right{
    float: right;
    width: 70%;
    padding-left: 45px;
}
.navbar2 {
    width: 100%;
    background-color: #3F92B7;
    overflow: auto;
}

.navbar2 a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
    font-family: 'Tinos', serif;
}

.navbar2 a:hover {
    background-color: #6CC4DC;
}

.navbar2 a.active {
    background-color:white;
}

@media screen and (max-width: 500px) {
    .navbar2 a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: right;
}
.text_type{
    text-align: center;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    color: #AACDE5;
}
.mySlides {
    display: none;
    text-align: right;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #48829E;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active, .dot:hover {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
